<div class="mdl-grid site-max-width">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp welcome-card portfolio-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Bienvenido</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Página personal para publicar y administrar recuerdos de programación, pruebas de código fuentes, cursos , arquitectura de software, metodología de trabajo entre otras cosas todo escrito en <a href="https://joedicastro.com/pages/markdown.html" target="_blank">Markdown</a>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href=" https://templateflip.com/templates/material-portfolio/"
        target="_blank">
        Anotaciones
      </a>
    </div>
  </div>
</div>

<!-- <section class="section--center mdl-grid site-max-width">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white  mdl-shadow--4dp">
    <i class="material-icons">play_circle_filled</i>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Introduction</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
      deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without
      functional solutions.
    </div>
    <div class="mdl-card__actions  mdl-card--border">
      <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">Watch
        Intro</a>
    </div>
  </div>
</section> -->

<section class="section--center mdl-grid site-max-width">
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" *ngFor="let a of anotations">
    <div class="mdl-card__media">
      <img class="article-image" [src]="a.image_url" border="0" alt="" style="max-height: 240px;">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{a.name}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{a.description}}
    </div>
  </div>
  <!-- <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="assets/img/portfolio2.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Night Shadow</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim
      nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
    <div class="mdl-card__media">
      <img class="article-image" src="assets/img/portfolio3.jpg" border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Sky Reach</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim
      nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
  </div> -->
</section>

<section class="section--center mdl-grid site-max-width homepage-portfolio">
  <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio.html">Ver anotaciones</a>
</section>

<div class="homepage-footer">
  <section class="mdl-grid site-max-width">
    <div class="mdl-cell mdl-card mdl-cell--8-col mdl-cell--4-col-tablet  mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Repositorios recientes ({{repositories.length}}) !</h2>
      </div><br>
      <div class="repositories" style="min-height: 200px;max-height: 200px; overflow-y: scroll;">
        <ul class="demo-list-three mdl-list">
          <li class="mdl-list__item mdl-list__item--three-line" *ngFor="let r of repositories" >
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">code</i>
              <a target="_blanck" [href]="r.html_url" style="text-decoration: none;"><span>{{r.full_name}}</span></a>
              <span class="mdl-list__item-text-body">
                Lenguaje: {{(r.language)? r.language : 'Sin lenguaje'}} <span style="float: right">{{r.updated_at | date:'short'}}</span>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="demo-card-event mdl-cell mdl-card mdl-shadow--4dp event-card portfolio-card">
      <div class="mdl-card__title mdl-card--expand">
        <h6>
          "Los ordenadores se hacen cada vez más inteligentes. Los científicos dicen que pronto ellos serán capaces de hablarnos (y con 'ellos' me refiero a los ordenadores, dudo mucho que los científicos sean capaces de hablarnos)"
        </h6>
      </div>
      <!-- <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
          Add to Calendar
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
      </div> -->
    </div>
  </section>
</div>
