<div class="top">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="contact.html" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i
        class="material-icons">mail</i></a>
    <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
      <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
          <div class="site-logo"></div><span class="site-description">Anotaciones en Markdown</span>
        </span></div>
      <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="index.html">Inicio</a><a
            class="mdl-navigation__link" href="portfolio.html">Anotaciones</a><a class="mdl-navigation__link" href="about.html">Sobre
            Mí</a><a class="mdl-navigation__link" href="contact.html">Contácto</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="index.html">Inicio</a><a
          class="mdl-navigation__link" href="portfolio.html">Anotaciones</a><a class="mdl-navigation__link" href="about.html">Sobre
          Mí</a><a class="mdl-navigation__link" href="contact.html">Contácto</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="site-content">
        <div class="container">
          <app-home></app-home>
        </div>
      </div>
      <app-footer></app-footer>
    </main>
  </div>
</div>
